@model IEnumerable<MySite.Models.Post>

@{
    ViewData["Title"] = "HoT News";
}

@if (Model.Count() == 0)
{
    <h4>По запросу "@ViewBag.SearchTitle" ничего не найдено.</h4>
}
else
{
    <h4>Результат по запросу "@ViewBag.SearchTitle":</h4>
    <hr />
}

@{
    int numOfComments = 0;
    int counter = 0;
}

@foreach (var post in Model.Reverse())
{
    if (counter != 0)
    {
        <hr />
    }

    numOfComments = 0;
<div class="row" style="padding:10px">
    <div class="col-md-3">
        @if (post.Image != null)
        {
            <a href="/viewPost/@post.Id"><img src="data:image/jpg;base64,@Convert.ToBase64String(post.Image)" /></a>
        }
    </div>
    <div class="col-md" style="margin:10px">
        <div>
            <a class="a-title" href="/viewPost/@post.Id"><h3 href="/viewPost/@post.Id" class="a-title">@post.Title</h3></a>
        </div>
        <div>
            <div class="buttons-block">
                @if (User.IsInRole("admin"))
                {
                    <input class="button-1" type="button" value="Edit" onClick='location.href="/editPost/@post.Id"'>
                    <input class="button-1" type="button" value="Delete" onClick='location.href="/deletePost/@post.Id"'>
                }

            </div>
        </div>
        <div class="data">
            @if (post.Comments != null)
            {
                numOfComments = post.Comments.Count();
            }

            <a style="text-align:end" href="/viewPost/@post.Id#comments">Комментарии(@numOfComments)</a>
            <time>@post.Date.ToLongDateString(), @post.Date.ToShortTimeString()</time>
        </div>
    </div>
</div>
    counter++;
}

@if (User.IsInRole("admin"))
{
    <input class="new-post-button" type="button" value="+" onClick='location.href="/newPost"'>
}