@model MySite.Models.Post

@{
    ViewData["Title"] = "HoT News";

    int numOfComments = 0;
    string commentsTitle = "Комментарии";
    if (Model.Comments.Count() != 0)
    {
        numOfComments = Model.Comments.Count();
        commentsTitle = "Комментарии";
    }
}

    <h2>@Model.Title</h2>
<div class="post-title-info">
    <time class="data">@Model.Date.ToLongDateString(), @Model.Date.ToShortTimeString()</time>
    <a href="#comments">Комментарии(@numOfComments)</a>
</div>
<div id="postText">
    <hr />
    @Html.Raw(Model.Text)
</div>
<div class="btn-block">
    <input class="btn-danger back" type="button" value="Назад" onClick='location.href="/allPosts"'>
    @if (User.Identity.IsAuthenticated)
    {
        <input class="btn-warning back" type="button" value="Edit" onClick='location.href="/editPost/@Model.Id"'>
    }
</div>
<hr />
<div> <a name="comments"><h4>@commentsTitle</h4></a></div>
<form class="new-comment" asp-action="GetComments" asp-controller="Post" method="post" id="sendComment">
    <input type="hidden" value="@Model.Id" name="postId" />
    <div>
        <input class="nickName-field" id="nickname" placeholder="Ник/ФИО" name="nickName" value="@User.Identity.Name" />
        <label>
            <input class="chkbox" id="anonim-checkbox" type="checkbox" value="" onchange="anonimCheck()">
            Анонимно
        </label>
    </div>
    <textarea class="commentText-field" required placeholder="Ваш комментарий..." name="text"></textarea>
    <input class="comment-button" type="submit" value="Добавить" />
</form>

<div id="comments">
    @await Html.PartialAsync("GetComments", Model.Comments.Where(comments => comments.ParentCommentId == null).ToList())
</div>

<script>
    $("#sendComment").submit(function (event) {
        event.preventDefault();
        $.post('/getComments', $("#sendComment").serialize(),
                function() {
                        $('#comments').load('/getComments/@Model.Id');
            });
            $('#sendComment')[0].reset();
    });

    var figures = $('figure').toArray();
    figures.forEach(element => element.style.display = 'flex')
    figures.forEach(element => element.style.justifyContent = 'center')
</script>